@media (min-width: 300px) {
    .woocommerce-product-gallery__wrapper {
        margin: unset !important;
    }

    ul.products::after, ul.products::before {
        content: unset !important;
        display: table;
    }

    .products.columns-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .products.columns-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .site-main .columns-3 ul.products li.product, .page-template-template-homepage-php .site-main .columns-3 ul.products li.product, .storefront-full-width-content .site-main .columns-3 ul.products li.product {
        width: unset;
        float: unset;
        margin-right: unset;
        flex: 1;
        padding: 1em;
        margin: unset !important;
        display: flex;
        justify-content: center;
    }

    .site-main .columns-4 ul.products li.product, .page-template-template-homepage-php .site-main .columns-4 ul.products li.product, .storefront-full-width-content .site-main .columns-4 ul.products li.product {
        width: unset;
        float: unset;
        margin-right: unset;
        flex: 1;
        padding: 1em;
        margin: unset !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .storefront-product-section ul.products li.product .woocommerce-loop-product__title {
        min-height: 60px;
    }

    .product-category.product > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .wp-post-image, .attachment-shop_thumbnail, ul.products li.product img {
        border: solid 1px;
        width: 100vw;
        object-fit: cover;
        object-position: top center;
        height: 60vh !important;
    }

    ul.products li.product.product-category img {
        margin-bottom: 1.618em;
        height: 100%;
        object-fit: cover;
        height: 400px !important;
    }

    ul.products li.product .woocommerce-LoopProduct-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .site-main ul.products li.product {
        width: unset;
    }

    ul.products::after, ul.products::before {
        content: unset !important;
        display: table;
    }

    .products.columns-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .products.columns-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .site-main .columns-3 ul.products li.product, .page-template-template-homepage-php .site-main .columns-3 ul.products li.product, .storefront-full-width-content .site-main .columns-3 ul.products li.product {
        width: unset;
        float: unset;
        margin-right: unset;
        flex: 1;
        padding: 1em;
        margin: unset !important;
        display: flex;
    }

    .site-main .columns-4 ul.products li.product, .page-template-template-homepage-php .site-main .columns-4 ul.products li.product, .storefront-full-width-content .site-main .columns-4 ul.products li.product {
        width: unset;
        float: unset;
        margin-right: unset;
        flex: 1;
        padding: 1em;
        margin: unset !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .storefront-product-section ul.products li.product .woocommerce-loop-product__title {
        min-height: 60px;
    }

    .product-category.product > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    body.archive ul.products li.product img, body.home ul.products li.product img {
        border: solid 1px;
        width: 100%;
        height: 450px !important;
        object-fit: cover;
        object-position: top center;
    }

    ul.products li.product.product-category img {
        margin-bottom: 1.618em;
        height: 450px !important;
        width: unset;
        object-fit: cover;
    }

    ul.products li.product .woocommerce-LoopProduct-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


.single-product div.product .woocommerce-product-gallery .wpgs-nav .slick-slide img {
    height: 144px;
}