@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome/fontawesome-webfont.eot?v=#4.1.0');
  src: url('fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=#4.1.0') format('embedded-opentype'),
  url('fonts/fontawesome/fontawesome-webfont.woff2?v=#4.1.0') format('woff2'),
  url('fonts/fontawesome/fontawesome-webfont.woff?v=#4.1.0') format('woff'),
  url('fonts/fontawesome/fontawesome-webfont.ttf?v=#4.1.0') format('truetype'),
  url('fonts/fontawesome/fontawesome-webfont.svg?v=#4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
//@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC);
//@import url(https://fonts.googleapis.com/css?family=Lora);

body {
  color: $body-color;
  //font-family: 'Lora';
  font-family: 'Noto Serif';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: inherit;
  font-family: 'Cinzel';
  font-weight: 600;
  color: #444;
}

h2,
.beta {
  font-size: 1.618em;
  letter-spacing: -1px;
  line-height: 1.214;
  font-weight: 300;
}

small {
  font-size: $text-small;
}

.count {
  color: #333;
}